urxvt*depth: 32
urxvt*background: [90]#000000
urxvt*scrollBar: True
urxvt*scrollstyle: plain
urxvt*scrollBar_right: True
urxvt*thickness: 5
urxvt*fading: 50
urxvt*font: -xos4-terminus-medium-r-normal--0-0-72-72-c-0-iso10646-1
urxvt*termName: rxvt-unicode-256color
!urxvt*background: #333333
urxvt*foreground: #efefcf
urxvt*color0: #5a5a5a
urxvt*color1: #ff4747
urxvt*color2: #afc81c
urxvt*color3: #fdd338
urxvt*color4: #619af4
urxvt*color5: #5f5a90
urxvt*color6: #47e0ff
urxvt*color7: #ffffff
urxvt*color8: #3e3e3e
urxvt*color9: #ff6767
urxvt*color10: #bfc81c
urxvt*color11: #f4d461
urxvt*color12: #5496ff
urxvt*color13: #826ab1
urxvt*color14: #2ed9fb
urxvt*color15: #dedede
urxvt*color16: #ffb000
