[user]
    name = Julien Cigar
    email = julien@perdition.city
    signingkey = B2BB3710A20423C0

[color]
    ui = auto

[merge]
    tool = vimdiff
    stat = true

[core]
    editor = vim
    excludesfile = ~/.gitignore

[rebase]
    stat = true

[push]
    default = simple

#[commit]
#    gpgsign = true

